<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Info"
	  internalLogFile="C:\Users\Polin\Desktop\KOD\AccountHub\Log\AccountHub.txt">
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	<targets>
		<target xsi:type="File" name="allfile" fileName="C:\Users\Polin\Desktop\KOD\AccountHub\Log\AccountHub-all-${shortdate}.log"/>
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="allfile"/>
		
	</rules>
</nlog>