<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Info"
      internalLogFile="C:\Users\Polin\Desktop\KOD\AccountHub\Log\AccountHub-internal.log">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<!-- Основной лог-файл -->
		<target xsi:type="File" name="logfile" fileName="C:\Users\Polin\Desktop\KOD\AccountHub\Log\AccountHub-all-${shortdate}.log"
                layout="${longdate} [${uppercase:${level}}] [${logger}] ${message} ${exception:format=tostring}"/>

		<!-- Файл только для ошибок -->
		<target xsi:type="File" name="errorfile" fileName="C:\Users\Polin\Desktop\KOD\AccountHub\Log\AccountHub-errors-${shortdate}.log"
                layout="${longdate} [${uppercase:${level}}] [${logger}] ${message} ${exception:format=tostring}"/>

		<!-- Вывод в консоль (например, для отладки в Dev) -->
		<target xsi:type="Console" name="console"
                layout="${longdate} [${uppercase:${level}}] [${logger}] ${message} ${exception:format=tostring}"/>
	</targets>

	<rules>
		<!-- Логирование всех сообщений в общий файл и консоль -->
		<logger name="*" minlevel="Trace" writeTo="logfile,console"/>

		<!-- Ошибки пишем отдельно в файл ошибок -->
		<logger name="*" minlevel="Error" writeTo="errorfile"/>
	</rules>

</nlog>
